body {
    background-color: #ffffff;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #002171;
    background-image: url(sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    color: #FFFFFF;
    line-height: 400%;
    text-indent: 1em;
    padding: 20px; 
    text-align: center; 
}

h1 {
    margin-bottom: 0;
    font-family: Georgia, "Times New Roman", serif;
}


nav {
    background-color: #BBDEFB;
    font-weight: bold;
    
}

nav a {
    text-decoration: none;
}

h2 {
    color: #1976D2;
}

dt {
    color: #002171;
}

.resort {
    color: #1976D2;
    font-size: 1.2em;
}

footer {
    font-size: 0.70em;
    font-style: italic;
    text-align: center;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

